# Node Modules
/node_modules
/.pnp
.pnp.js

# Output of 'npm pack'
/coverage

# Prisma
/prisma/db.sqlite
/prisma/db.sqlite-journal

# Next.js
/.next/
/out/
next-env.d.ts
/build

# DS Store Files and other Mac specific files
.DS_Store
*.pem

# Debug Logs and others from npm and yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env
.env*.local

# Vercel Files
.vercel

# TS Build Files and others from tsc and babel etc
*.tsbuildinfo